.App {
  text-align: center;
  display: flex;
  height: 120%;
  padding: 20px 20px;
  margin: 20px 10px;
  background-color: grey;
}
.users {
  flex: 1;
  margin-left: 10px;
}
.repos {
  flex: 1;
  border-left: 3px solid black;
}
h1 {
  color: greenyellow;
}
li {
  list-style-type: none;
  border: 2px solid wheat;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  width: 320px;
  margin: 2px auto;
}
a,
input {
  font-size: 20px;
}
