*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    display:flex;
    justify-content: space-between;
    margin-left:30px;
    margin-right:30px;
    margin-bottom:50px;
}
.image{
    margin-top:30px;
    width: 100px;
    height:100px;
}
nav li{
    display:inline-block;
    
    padding:50px;
}
nav ul {
    list-style-type: none;
    
}
nav ul li a{
    text-decoration: none;
}
section{
    margin-left:30px;
    padding:20px;
}
#myprogress {
    width: 100%;
  background-color:white;
  border:2px solid #ddd;
  }
  
  #progressbar {
    width: 5%;
  height: 40px;
  background-color:gainsboro;
  text-align: center;
  line-height: 30px;
  color: white;
    
  }
  h1,h2{
      font-size:40px;
      margin-bottom:20px;
  }
  h3{
      font-size:20px;
  }
  p{
      font-size:25px;
      margin-top:25px;
      margin-bottom:35px;
  }
  span em{
      font-size:15px;
  }
  form{
      margin-left:100px;
     
  }
  .first-lastname input[type=text]{

    width:350px;


  }
.first-lastname
  {
      display:inline-flex;
      justify-items: center;
      
  }
      
  .addressandpostcode{
      display:inline-flex;
      justify-items:center;
      margin-bottom:70px;
  }
  .addressandpostcode input[type=text]{
      width:350px;
  }
  
  input[type=text] {
      width:20%;
      height:50px;
      padding:20px;
      border:2px solid gainsboro;
  }
  input[type=number] {
    width:90%;
    height:50px;
    padding:20px;
    border:2px solid gainsboro;
}
  textarea{
width:75%;
height:150px;
    padding:10px;
    font-size:0.8rem;
    letter-spacing:1px;
    line-height:1.5;
    border-radius:5px;
    border: 2px solid #ccc;
    position:none;
    margin-left:170px;
    padding-top:0;
  }
  input.checkbox-checked{

    width:50px;
    height:50px;
    border: 2px solid #ccc;
    
  }
  a{
text-decoration: none;

  }
  .continuebutton{
      background-color: gainsboro;
      color:black;
      padding-top:20px;
      text-align: center;
  }
  .button{
      padding-top:20px;
      padding-left:5px;
      text-align: center;
  }
  .button , .continuebutton{
      float:right;
      width:200px;
      height:85px;
      margin-right: 40px;
      margin-bottom:100px;
      font-size: 30px;
      font-weight: bold;
      border:2px solid gainsboro;
  }
  label{
      font-size:20px;
      padding-right:20px;
      font-weight:bold;
      
  }
  div.field{
      margin-bottom:20px;
  }
  .personal-information input{
      margin-left:13em;
  }
  .personal-information label{
      
      position: absolute;
  }
  @media screen and (max-width: 450px){
    *{
        margin:0;
        padding:0;
        width:100%;
        height:auto;
    } 
    body,section,form{
        font-size:0.3em;
        margin:0;
    } 
    img{
          width:40px;
          height:40px;
      }
      nav li{
          margin-right:50px;
          margin-top:40px;
          padding:2px;
      }
      header{
          display:inline-flex;
        flex-direction: space-between;
          width:100%;
          height:auto;
      }
      h1{
          font-size:25px;
          margin:0px;
      }
      h2{
        font-size:20px;  
      }
      p{
        font-size:20px;
      }
      
      #myprogress {
        width: 90%;
      background-color:white;
      border:2px solid #ddd;
      }
      
      #progressbar {
        width: 5%;
      height: 40px;
      background-color:gainsboro;
      text-align: center;
      line-height: 30px;
      color: white;
        
      }
      span em{
          font-size:12px;
          padding-bottom:30px;
      }
      form{
          margin-left:5px;
      }
      

      input[type=text] {
          margin-top:20px;
        width:150px;
        height:40px;
        
        border:2px solid gainsboro;
    }
    input[type=number] {
        margin-top:20px;
      width:300px;
      height:40px;
      
      border:2px solid gainsboro;
  }
    label{
        font-size:15px;
    
        font-weight: bold;
        
    }
    
    
    .personal-information input{
        margin-left:0;
        padding:5px;
        display:flex;
        flex-direction: column;
    }
    .personal-information label{
        flex-basis: 5rem;
    flex-grow:0;
    flex-shrink: 0;
    font-weight: bold;
    }
    .first-lastname input[type=text]{
margin-top:20px;
        width:300px;
    
    
      }
    .first-lastname
      {
          display:flex;
          flex-direction: column;
          margin-left:0;
        padding:5px;
          
          }
          .addressandpostcode{
            display:flex;
            flex-direction: column;
            padding-bottom:100px;
        }
        .addressandpostcode input[type=text]{
            width:300px;
        }
        
        textarea{
          
            width:45%;
            height:70px;
                padding:10px;
                font-size:0.8rem;
                letter-spacing:1px;
                line-height:1.5;
                border-radius:5px;
                border: 2px solid #ccc;
                
                margin-left:150px;
                
              }
              input.checkbox-checked{
            margin-left:140px;
                width:50px;
                height:50px;
                border: 2px solid #ccc;
                
              }
              
              
              .button,.continuebutton{
                  text-align: center;
                  display: inline-flex;
                  justify-content: space-between;
                  width:120px;
                  font-size:20px;
                  height:60px;
                  margin-top:60px;
                  padding-left:5px;
                
            }
        } 
        
  
