*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    display:flex;
    justify-content: space-between;
    margin-left:30px;
    margin-right:30px;
    margin-bottom:50px;
}
.image{
    margin-top:30px;
    width: 100px;
    height:100px;
}
nav li{
    display:inline-block;
    
    padding:50px;
}
nav ul {
    list-style-type: none;
    
}
nav ul li a{
    text-decoration: none;
}
section{
    margin-left:60px;
    margin-right:60px;
}
#myprogress {
    width: 100%;
  background-color:white;
  border:2px solid #ddd;
  margin-bottom:15px;
  }
  
  #progressbar {
    width: 85%;
  height: 40px;
  background-color:gainsboro;
  text-align: center;
  line-height: 30px;
  color: white;
  
    
  }
  form{
      margin-left:50px;
  }
  h1{
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 20px;
  }
  h2{
    font-size: 40px;
    font-weight: bold; 
    padding-bottom: 20px;
  }
  h4{
      font-size: 25px;
      font-weight: bold;
  }
  input[type=text]{
      width:30%;
      height:50px;
      
      border:2px solid gainsboro;
  }

  .payment-fields{
      padding:15px;
  }
  .card-details input[type=text]{
      width:350px;
  }
  .card-details{
      display:inline-flex;
      justify-items: center;
  }
.expiry-info{
    display:inline-flex;
    justify-items:center;
}
.ccv input[type=number]{
    width:100px;
height:50px;
border:2px solid gainsboro;
}
.continuebutton{
    background-color: gainsboro;
    color:black;
    padding-top:20px;
    text-align: center;
    
}
.button{
    padding-top:20px;
    padding-left:5px;
    text-align: center;
}
.button, .continuebutton{
    float:right;
    width:200px;
    height:90px;
    margin-right:40px;
    margin-bottom:100px;
    font-size: 40px;
    font-weight: bold;
    border:2px solid gainsboro;
}
a{
    text-decoration: none;
}
label{
    font-size:20px;
    font-weight: bold;
}
p{
    font-size: 20px;;
}

.paymentdata  input{
margin-left:13em;
}
.paymentdata label{
    position: absolute;
}
@media screen and (max-width: 450px){
    *{
        margin:0;
        padding:0;
    } 
    header,body,section,form{
        margin-left:10px;
        font-size:0.5em;
    } 
    .image img{
          width:40px;
          height:40px;
          border:none;
      }
      nav li{
          margin-right:20px;
          margin-top:40px;
          padding:2px;
      }
      header{
          display:inline-flex;
        flex-direction: space-between;
          width:75%;
          height:auto;
      }
      h1{
          font-size:20px;
          margin:0px;
      }
      h2{
        font-size:20px;  
      }
      h4{
        font-size:15px;   
      }
      p{
          
        font-size:15px;
      }
      #myprogress {
        width: 70%;
      background-color:white;
      border:2px solid #ddd;
      margin-bottom: 20px;
      }
      
      #progressbar {
        width: 75%;
      height: 30px;
      background-color:gainsboro;
      text-align: center;
      line-height: 30px;
      color: white;
        
      }
      form{
          margin-left:5px;
      }
      

      input[type=text] {
          margin-top:20px;
        width:200px;
        height:40px;
        
        border:2px solid gainsboro;
    }
    label{
        font-size:15px;
    
        font-weight: bold;
        
    }
    .card-details input[type=text]{
        margin-top:20px;
                    width:200px;
                
             }
                .card-details
                  {
                      display:flex;
                      flex-direction: column;
                      margin-left:0;
                    padding:5px;
                      
                      }
    
                      .expiry-info input[type=text]{
                        margin-top:20px;
                                    width:100px;
                                
                             }
                                .expiry-info
                                  {
                                      display:flex;
                                      flex-direction: column;
                                      margin-left:0;
                                    padding:5px;
                                      
                                      }
                                      .ccv input[type=number]{
                                          margin-top:20px;
                                        width:100px;
                                    height:40px;
                                    border:2px solid gainsboro;
                                    }
         
            .paymentdata input{
                margin-left:0;
                padding:5px;
                display:flex;
                flex-direction: column;
            }
            .paymentdata label{
                flex-basis: 5rem;
            flex-grow:0;
            flex-shrink: 0;
            font-weight: bold;
            }
                                    
        
        

         input.checkbox-checked{
            margin-left:90px;
                width:50px;
                height:50px;
                border: 2px solid #ccc;
                }
              
              .button,.continuebutton{
                text-align: center;
                display:inline-flex;
               flex-direction: column;
                width:100px;
                font-size:20px;
                height:60px;
                margin-top:60px;
                padding-left:5px;
              }
             } 
