html,body{
    
    margin: 0 auto;
    box-sizing: border-box;
    background-color: white;
}

header{
    display:block;
    background-color:#FAFAFB;
   
 font-style:"Georgia",Arial,sans-serif;
 font-size:1.0em;
 width:100%;
 height:100px;
 padding-bottom:30px;
}
.header-info{
    margin-left:120px;
    padding:5px;
    
    
}
.header-info p{
    color:lightgray;
}
nav{
    width:100%;
    height:40px;

}

nav li{
    display:inline-block;
    margin-left: 90px;
    
}
nav ul {
    list-style-type: none;
    
}
nav ul li a{
    text-decoration: none;
}
.image{
    
    margin-bottom: 40px;
}
section{
    margin-left:125px;
    margin-right:100px;
    font-size:1.2em;
}
.left-section , .float-left{
    float:left;
    
}
.right-section{
    float:right;
}

.float-right{
    margin-left:530px;
    
}
.logo{
    clear:both;
    margin-top:50px;
    padding-top:30px;
    margin-left:90px;
    margin-right:100px;
    font-size:1.2em;
   
}

.container{
    display:flex;
    
   flex-wrap: wrap;
   line-height: 8.5em;
   }
   
/*Creating the footer for my website*/
footer{
    clear:both;
    
    background-color: blueviolet;
    color:white;
    
    width:100%;
    height:60%;
}
.footer-info{
    display:flex;
    justify-content: space-between;
    margin:50px 100px;
    padding:30px;
}
/*For Mobile Phones*/
@media screen and (max-width:680px){
    
    header,.header-info{
        
        width:100%
            padding-left:10px;
        padding-right:10px;
        
    }
    h1{
        font-size:20px;
        font-weight: bold;
    }
    nav ul li{
        float:left;
        width:100%;
        padding-left:20px;
    }
    p{
        margin:0px 10px;
    }
    .image{
        margin-top: 50px;
        
        width:100%;
    }
    .left-section,.right-section,.float-left,.float-right,.logo,.container{
        float:left;
        width:100%;
        height:auto;
        padding:10px;
        
    }
    .float-right,.container{
        float:left;
        
        width:50px;
        height:50px;
        font-size: 1.0em;
        line-height: 3.5em;
        margin:0px;
        
    }
.logo{
        margin:0px;
        
    }
   
    section{
        display:flex;
        flex-direction: column-reverse;
        font-size:1.0em;
        
        margin:0;
    }
    footer{
        margin-top:1400px;
    }
    .footer-info{
        clear: both;
        display:block;
        width:100%;
    }
}

















